
body::-webkit-scrollbar {
    display: none;
  }

.body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.resume{
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #212124;
}

.progress {
    height: 2%;
    width: 0%;
    background-color: #CBEBF5;
    position: fixed;
    top: 0;
    animation: progress 1s linear;
  }
  @keyframes progress {
    to {
      width: 100%;
    }
  }

.icon{
    cursor: pointer;
    margin-right: 3%;
}

.name{
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 2%;
}
.content{
    color: #CBEBF5;
    width: 85vw;
    margin-left: 7%;
    margin-top: 2%;
    transition: 1s;

    border-radius: 7px;
    padding: 3%;
    background: linear-gradient(to left, #212124 50%, #CBEBF5 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.content:hover {
    transform: scale(1.05);
    background-position: left;
    color: #212124;
}

.content:hover .item_content:hover{
    transform: scale(1.05);
    background-position: left;
    color: #212124;
}

.bullet_points{
    /* margin-left: 5%; */
    /* width: 60%; */
}

.item{
    width: 60vw !important;
    display:inline-block;
}

.item_content{
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(to left, auto 50%, #F0F8FF 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    font-size: 1vw;
}
.item_content:hover{
    transform: scale(1.05);
    background-position: left;
}

.item_date{
    width: 10vw;
    display: inline;
    float: right;
    /* display: flex; */
    /* justify-content: center; */
}
.long_dates{
    width: 25%;
    float: right;
}
.headings{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 2%;
}

.sub_headings{
    margin-top: 1%;
    font-size: 1vw;
    font-weight: bold;
    display: inline;
}

.flexBetween{
    display: flex;
    justify-content: center;
}

a {
    /* color: white; */
    /* text-decoration: none; */
    /* color: none; */
}


.sub_headings1{
  /* margin-top: 1%;
  margin-bottom: 2% */
  font-size: 1.25vw;
  padding-bottom: 1%;
  padding-top: 2%;
  font-weight: bold;
  /* display: inline; */
}